
body{
    background-image: linear-gradient(60deg, #85ACDF,  #6869bd , #B646CD, #85ACDF,  #6869bd );
    min-height: 100vh;
    animation: animado 5s ease-in-out infinite;
    background-size: 500% 500%;
    display: flex;
    flex-direction: column;
    /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}
main{
    flex-grow: 1;
}

.colorBoton{
    background: rgb(94, 0, 128);
    /* background: #AE02C4; */
    color: aliceblue;
}
.pintarBordeContenedor{
    border:1px solid black ;
}
 @keyframes animado{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 50% 0;
    }
}

 .colorNoticia{
    background: #7f3595;
    text-decoration: none;
     color: aliceblue; 
}

*::-webkit-scrollbar {
    width: 6px;
    height: 20px;
} */

*::-webkit-scrollbar-track {
    background-color: rgb(209, 209, 209);
    margin: 0px 100px;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(81, 94, 179, 0.693);
    border-radius: 10px;
}

.contenedor {
    width: 100%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 30px;
    overflow: hidden;
    overflow-x: scroll;
}

.contenedor-imagen {
    width: auto;
    height: auto;
    transition: transform .3s;
}

.imagen {
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    transition: .3s;
    filter: saturate(40%);
}

.imagen:hover {
    filter: saturate(100%);
    transition: 350ms;
    width: 350px;
    height: 550px;
}

    @media all and (max-width:767px) {
        .imagenCarrusel{
            width: 100%;
            height: 100%;
        }
        .imagen {
            width: 180px;
            height: 320px;
            object-position: center;
            transition: .3s;
        }
        .imagen:hover {
            filter: saturate(100%);
            transition: 350ms;
            width: 220px;
            height: 350px;
        }
    }
    
    @media all and (min-width:768px) and (max-width:991px) {
        .imagenCarrusel{
            width: 100%;
            height: 100%;
        }
        .imagen {
            width: 250px;
            height: 445px;
            object-position: center;
            transition: .3s;
        }
        .imagen:hover {
            filter: saturate(100%);
            transition: 300ms;
            width: 290px;
            height: 485px;
        }
    }

    .marcoDeFondo{
        border: 1px solid rgba(0, 0, 0, 0.767);
        background-color: rgba(0, 0, 0, 0.535);
    }
/* OCULTAR LOS DEMAS ELEMENTOS EN BUSQUEDA */
/*     
button{
    border: none;
    outline:none;
} */
